<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminproduit</title>
</head>
<body>
    {{ form_start(productForm)}}

    {{form_label(productForm.name,'nom de l\'article :', {'label.attr': {'class':'label'}})}}
    {{form_widget(productForm.name, { 'att' : {'placeholder' : 'nom de l\'article ', 'class':'name'}})}}

    

    {{form_label(productForm.price,'prix de l\'article :', {'label.attr': {'class':'label'}})}}
    {{form_widget(productForm.price, { 'att' : {'placeholder' : 'prix de l\'article '}})}}

    {{form_label(productForm.stock,'stock initial :', {'label.attr': {'class':'label'}})}}
    {{form_widget(productForm.stock, { 'att' : {'placeholder' : 'stock initial '}})}}

    
    {{form_widget(productForm.submit, { 'att' : {'label' : 'Enregistrer'}})}}

    {{ form_end(productForm) }}

</body>
</html>